body {
  padding-top: 4rem;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 30px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #000000;
  background-color: #A0A0A0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  color: #000000;
}

.sidebar a {
  font-size: 20px;
  font-weight: 500;
}

.billName:hover {
  color: #157EFB;
  cursor: pointer;

}

.navbar {
  background-color: #000000;
}

#main-image {
  display: block;
  margin: auto;
}

.btn {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

.btn:hover{
  background-color: #A0A0A0;
}
